body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.mainContent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.gridContainer {
    width: 520px;
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 15px solid black;
    border-radius: 10px;
}

.padContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.box {
    background: lightblue;

}

.bttnChangeGrid {
    border: none;
    background: lightblue;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    transition: 100ms;
}

.bttnChangeGrid:hover {
    background-color: rgb(125, 200, 225);
}



/* Color picker */

.optionsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.colorPickContainer {
    border: 5px solid black;
    border-radius: 5px;
    padding: 5px 25px;
}

.colorOption {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.colorOption:hover {
    color: pink;
    cursor: pointer;
}

.colorBlock {
    width: 30px;
    height: 30px;
    transition: 100ms;
}

.colorBlock:hover {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.block01 {
    background: blue;
}

.block02 {
    background: green;
}

.block03 {
    background: red;
}

.block04 {
    background: purple;
}

.blockLightBlue {
    background: lightblue;
}

.blockPink {
    background: pink;
}

.blockYellow {
    background: yellow;
}